.nicknameContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: visible;
    position: relative;
    width: 200vw;
    height: 200vh;
    top: -50vh;
    left: -52vw;
    white-space: nowrap; /* Запрещает перенос строк */
    text-overflow: ellipsis; /* Добавляет троеточие в конце обрезанного текста */
}
.nickname
{
    position: fixed;
    top: calc(50vh - 500px / 2);
    width: 100vw;
    text-align: center;
    color: var(--main-alt);
    transition: color .5s;
    transition: all .5s;
    font-size: 500px;
    letter-spacing: -75px;
    font-family: 'JejuGothic', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 60vh;
}

.avatar
{
    width: 184px;
    height: 184px;
    position: fixed;
    top: calc(50% - 92px);
    left: calc(50% - 92px);
    background-color: var(--medium);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    transition: all .5s;
}

.bottomFog
{
    height: 40vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    background: linear-gradient(#00000000, var(--medium));
    transition: all .5s linear;
}

.profilePanel
{
    position: fixed;
    top: 100vh;
    display: block;
    width: 70vw;
    margin: 15vh 15vw;
    background-color: var(--main-sub);
    border-radius: 25px;
    transition: all .4s linear;
}

.topLine
{
    display: flex;
    margin: 2vh;
    height: 2vh;
    align-items: center;
    justify-content: space-between;
}

.playTimeContainer, .locationContainer
{
    display: flex;
    direction: row;
    justify-content: center;
    align-items: center;
}

.playTimeForever, .locationName
{
    margin-top: 2px;
    margin-left: 5px;
    font-size: 18px;
    letter-spacing: -1px;
    line-height: 2vh;
    color: var(--medium);
}

.topLineIcon 
{
    width: 2vh;
    height: 2vh;
    background-color: var(--medium);
    mask-size: cover;
    mask-repeat: no-repeat; /* Не повторять маску */
    mask-position: center; /* Центрировать маску */
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

.cloack
{
    mask-image: url('../reference/cloak.png');
    -webkit-mask-image: url('../reference/cloak.png'); /* Для поддержки в WebKit браузерах */
}

.location
{
    width: 2vh;
    mask-image: url('../reference/placement.png');
    -webkit-mask-image: url('../reference/placement.png'); /* Для поддержки в WebKit браузерах */
}

.steamLink
{
    width: 3vh;
    height: 3vh;
    background-color: var(--medium);
    mask-size: cover;
    mask-repeat: no-repeat; /* Не повторять маску */
    mask-position: center; /* Центрировать маску */
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-image: url('../reference/steam.png');
    -webkit-mask-image: url('../reference/steam.png');
}

.stats
{
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all .5s linear;
}

.tikTok
{
    position: absolute;
    top: 225vh;
    margin: 0vh 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 70vh;
    background-color: #00000099;
    border-radius: 25px;
}

.tikTokVideoContainer
{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 5vw;
    height: 45vh;
    padding: 20vh 0;
    top: 215vh; 
    left: 0vw;
}

.tikTokVideo
{
    width: 5vh;
    height: 1vh;
    background-color: #000000;
    color: var(--main-alt);
    overflow: hidden;
    z-index: 1;
    transition: background-color .7s cubic-bezier(.75,0,0,1), 
        width .7s ease-out, 
        margin .7s cubic-bezier(.75,-2,0,1),
        border-radius .7s cubic-bezier(0,1,1,0);
    margin: 0vh 5vh 0vh 0vh;
    opacity: .7;
    border-radius: 1vh;
}
.tikTokVideo:nth-child(2n)
{
    left: 0;
}
.tikTokVideo:nth-child(2n+1)
{
    right: 0;
}

.tikTokViewer
{
    width: 20vw;
    height: 50vh;
    border-radius: 15px;
    position: relative;
    background-color: var(--main-sub);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform .2s linear;
    transform: rotate3d(1, 0, 0, 0deg);
}

.tikTokPlaceholder
{
    width: 100%;
    height: calc(100% - 25px);
    background-color: var(--medium);
    opacity: 0.7;
    color: #272727;
    border-radius: 15px;
    text-align: center;
    padding-top: 25px;
    font-size: 30px;
}

.tikTokTitle
{
    position: absolute;
    bottom: 200px;
    left: 200px;
    line-height: 1;
    font-size: 40px;
    letter-spacing: -3px;
    width: calc(100% + 50px);
    height: 40px;
    overflow: hidden;
    color: #ffffff;
    transition: all .2s linear;
}