.nicknameContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: visible;
    position: relative;
    width: 200vw;
    height: 200vh;
    top: -50vh;
    left: -52vw;
    white-space: nowrap; /* Запрещает перенос строк */
    text-overflow: ellipsis; /* Добавляет троеточие в конце обрезанного текста */
}
.nickname
{
    position: fixed;
    top: calc(50vh - 500px / 2);
    width: 100vw;
    text-align: center;
    color: var(--main-alt);
    transition: all .5s;
    font-size: 500px;
    letter-spacing: -75px;
    font-family: 'JejuGothic', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 60vh;
}

.avatar
{
    width: 184px;
    height: 184px;
    position: fixed;
    top: calc(50% - 92px);
    left: calc(50% - 92px);
    background-color: var(--medium);
    background-image: url('../reference/ea5ddb514a41d18fd6076e4b37f22639e8cb36bd_full.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    transition: all .5s;
}

.bottomFog
{
    height: 40vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    background: linear-gradient(#00000000, var(--medium));
    transition: all .5s linear;
}

